
<body class="img-main img-fluid">

<div class="mtop text-center text-white">

     <h1>About</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In, dignissimos! Dignissimos dolore itaque illo omnis ratione, rerum impedit doloribus perferendis consectetur ad quas ex adipisci nulla quidem maxime recusandae optio.</p>
   


</div>
       

</body>
