{{#if error}}
<div class="alert alert-danger alert-dismissible fade show">
    {{error}}

    <button type="button" class="btn-close" data-bs-dismiss="alert" >
    </button>
</div>
{{/if}}

{{#each errors}}
<div class="alert alert-danger alert-dismissible fade show">
    {{text}}

    <button type="button" class="btn-close" data-bs-dismiss="alert" >
    </button>
</div>

{{/each}}